<!DOCTYPE html>
{{!-- Tells it that the Doctype is an HTML --}}
<html lang="en">
    {{!-- tells it that the language is english --}}

<head>
    {{!-- creates a header --}}
    <meta charset="UTF-8">
    {{!-- declares that the font it should use is UTF-8 --}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- Declares the Meta Name, Viewport and gives some with and scale for bootstrap. --}}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{!-- gives compatibility for Ie or Microsft Edge --}}
    <title>Burger App</title>
    {{!-- Creates the title for the App --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {{!-- gives the cdn linke for bootsrap for 3.3.7 --}}
    <script src="https://code.jquery.com/jquery.js"></script>
    {{!-- gives the source name for Jquery  --}}

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
    <script src="/assets/js/burger.js"></script>
</head>

<body>

    {{{ body }}}
{{!-- This is the body where the handlebars is imported in. --}}
</body>

</html>